In [1]:
import pandas as pd

In [26]:
input = pd.read_csv('piazzaPoll-10701-Poll1-Aug-28.csv', index_col= 'name')

# input.tail()
input = input.iloc[:-4]
# input["Nikash Bhardwaj"]
input.head(input.shape[0])

                                                           emails  vote
name
Joseph Chan        josephc2@andrew.cmu.edu,josephchanke@gmail.com   1.0
James David Ngai       jdngai@andrew.cmu.edu,jamesdngai@gmail.com   1.0
Theophilos                                tcockrel@andrew.cmu.edu   1.0
Mingzhu Liu       mingzhul@andrew.cmu.edu,liumingzhu233@gmail.com   1.0
Yifu Cai                                     yifuc@andrew.cmu.edu   1.0
...                                                           ...   ...
Dongning Yang           dongniny@andrew.cmu.edu,dnn0226@gmail.com   2.0
Emily Allendorf                           ejallend@andrew.cmu.edu   1.0
Harshita diddee       hdiddee@andrew.cmu.edu,harshitadd@gmail.com   1.0
Aarrya Saraf         aarryas@andrew.cmu.edu,aarryasaraf@gmail.com   1.0
Nikash Bhardwaj                            nikashb@andrew.cmu.edu   1.0

[120 rows x 2 columns]

In [29]:
input["emails"] = input["emails"].apply(lambda x: x.split(","))
# input.info()

<class 'pandas.core.frame.DataFrame'>
Index: 120 entries, Joseph Chan to Nikash Bhardwaj
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   emails  120 non-null    object
 1   vote    120 non-null    float64
dtypes: float64(1), object(1)
memory usage: 2.8+ KB

In [31]:
def getAndrew(emails):
    for email in emails:
        if 'andrew.cmu.edu' in email:
            return email
        else:
            return "No Andrew ID"
        
input["Andrew Email"] = input["emails"].apply(lambda x: getAndrew(x))

In [32]:
input.head()

,emails,vote,Andrew Email
name,,,
Joseph Chan,"[josephc2@andrew.cmu.edu, josephchanke@gmail.com]",1.0,josephc2@andrew.cmu.edu
James David Ngai,"[jdngai@andrew.cmu.edu, jamesdngai@gmail.com]",1.0,jdngai@andrew.cmu.edu
Theophilos,[tcockrel@andrew.cmu.edu],1.0,tcockrel@andrew.cmu.edu
Mingzhu Liu,"[mingzhul@andrew.cmu.edu, liumingzhu233@gmail....",1.0,mingzhul@andrew.cmu.edu
Yifu Cai,[yifuc@andrew.cmu.edu],1.0,yifuc@andrew.cmu.edu

In [35]:
input.loc[input["Andrew Email"] == "No Andrew ID"]

                                                   emails  vote  Andrew Email
name
Hao-Yung Weng  [haoyungweng@cmu.edu, haoyungw@cs.cmu.edu]   1.0  No Andrew ID

In [36]:
input.to_csv("Poll 1.csv")